@model pim04.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div >
    <h4>Reserva</h4>
    <hr />
    <div class="col">
        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.Hospede):
            </h5>
            <p class="ml-2">
                @Html.DisplayFor(model => model.Hospede.Nome)
            </p>
        </div>
        
        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.DataEntrada):
            </h5>
                <p class="ml-2">
                    @Html.DisplayFor(model => model.DataEntrada)
                </p>
</div>
        
        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.DataSaida):
            </h5>
                <p class="ml-2">
                    @Html.DisplayFor(model => model.DataSaida)
                </p>
</div>

        
        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.Quarto):
            </h5>
                <p class="ml-2">
                    @Html.DisplayFor(model => model.Quarto.Nome)
                </p>
</div>
        

        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.NumeroQuarto):
            </h5>
                <p class="ml-2">
                    @Html.DisplayFor(model => model.NumeroQuarto)
                </p>
</div>

        <div class="row">
            <h5 class="">
                @Html.DisplayNameFor(model => model.MetodoPagamento):
            </h5>


                <p class="ml-2">
                    @Html.DisplayFor(model => model.MetodoPagamento.Nome)
                </p>
</div>

        <div class="row">
            <h5 class="">
                Preco:
            </h5>
                <p class="ml-2">
                    @Html.DisplayFor(model => model.Quarto.Preco)
                </p>
</div>
        
    </div>
</div>
<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a>&nbsp; | &nbsp;
    <a asp-action="Index">Voltar</a>
</div>
